/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
:root {


  --ion-color-success: #4D9B85;
  --ion-color-success-rgb: 77, 155, 133;
  --ion-color-success-contrast: #fff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #44876f;
  --ion-color-success-tint: #62a793;
}

:root {
 

  --ion-color-mint: #4D9B85;
  --ion-color-mint-rgb: 77, 155, 133;
  --ion-color-mint-contrast: #fff;
  --ion-color-mint-contrast-rgb: 255,255,255;
  --ion-color-mint-shade: #44886d;
  --ion-color-mint-tint: #67b29b;


  --ion-color-primary: var(--ion-color-mint); 
}


.ion-color-mint {
  --ion-color-base: var(--ion-color-mint);
  --ion-color-base-rgb: var(--ion-color-mint-rgb);
  --ion-color-contrast: var(--ion-color-mint-contrast);
  --ion-color-contrast-rgb: var(--ion-color-mint-contrast-rgb);
  --ion-color-shade: var(--ion-color-mint-shade);
  --ion-color-tint: var(--ion-color-mint-tint);
}
