.wheel-order-month-first {
  background: #e8f6f1 !important;
}


:root {


  --ion-color-mint: #4D9B85;
  --ion-color-mint-rgb: 77, 155, 133;
  --ion-color-mint-contrast: #fff;
  --ion-color-mint-contrast-rgb: 255,255,255;
  --ion-color-mint-shade: #44886d;
  --ion-color-mint-tint: #67b29b;

}

/* Optional: */
.ion-color-mint {
  --ion-color-base: var(--ion-color-mint);
  --ion-color-base-rgb: var(--ion-color-mint-rgb);
  --ion-color-contrast: var(--ion-color-mint-contrast);
  --ion-color-contrast-rgb: var(--ion-color-mint-contrast-rgb);
  --ion-color-shade: var(--ion-color-mint-shade);
  --ion-color-tint: var(--ion-color-mint-tint);
}
